<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thebluetoothbook.blelock" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BLE Lock</name>
    <description>
      A sample Apache Cordova application that unlocks a solenoid lock via Bluetooth Low Energy
    </description>
    <author href="https://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
